<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, maximum-scale=1">
</head>
<body>
<!--Top_content-->
<section id="top_content" class="top_cont_outer">
  <div class="top_cont_inner">
    <div class="container">
      <div class="top_content">
        <div class="row">
          <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
            <div class="top_left_cont flipInY wow animated">
              <h3>自宅にリアルな教室体験を</h3>
              <h2>マナビバ<br>
                WEB-SCHOOL</h2>
              <p>解らない事は即解決。マナビバは自学自習の悩みを解決してくれるオンライン学習サービスです。担任の先生と一緒に志望校目指して頑張りましょう！ </p>
              <a href="#service" class="learn_more2">詳しくはこちら</a> </div>
          </div>
          <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12"><%= image_tag("white_pad.png") %></div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Top_content--> 

<!--Service-->
<section  id="service">
  <div class="container">
    <h2>サポート内容</h2>
    <div class="service_area">
      <div class="row">
        <div class="col-lg-4">
          <div class="service_block">
            <div class="service_icon delay-03s animated wow  zoomIn"><span><i class="glyphicon glyphicon-list-alt"></i></span> </div>
            <h3 class="animated fadeInUp wow">自習コンサルティング</h3>
            <p class="animated fadeInDown wow">自習の正攻法を知り尽くした担任の先生が最適な勉強法を教えてくれます。週一回の軌道修正があるから、間違った勉強をしてしまう事もありません。</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="service_block">
            <div class="service_icon icon2  delay-03s animated wow zoomIn"> <span><i class="glyphicon glyphicon-user"></i></span> </div>
            <h3 class="animated fadeInUp wow">１対１コーチング</h3>
            <p class="animated fadeInDown wow">生徒の「解らない」を解決する為のコーチングスタッフが君の質問に答えます。聞きたい事が出たら、積極的に質問して、「解らない」を潰していきましょう。</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="service_block">
            <div class="service_icon icon3  delay-03s animated wow zoomIn"> <span><i class="glyphicon glyphicon-facetime-video"></i></span> </div>
            <h3 class="animated fadeInUp wow">解説授業</h3>
            <p class="animated fadeInDown wow">生徒から上がってくる質問は「解説授業」として撮影します。貯まっていく動画の中から、自分の悩みや疑問にマッチするものを好きな時に見る事ができます。</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Service-->
</body>
</html>