<br><h3 style="text-align:center">英語ウェブ質問予約</h3><br>
<div class="container">
  <% @reservations.each do |reserv| %>
  <div class="row">
    <h3 style="text-align:center"><%= reserv[:date].strftime('%m月%d日') %></h3><hr>
    <div class="row">
      <% reserv[:reservations_per_day].each do |reservation| %>
        <% if reservation.new_record? %>
          <div class="col-lg-2 col-sm-2 col-4 col-xs-4">
            <%= link_to image_tag("http://placehold.jp/18/4169e1/ffffff/150x75.png?text=#{reservation.recept}", :class => "thumbnail img-responsive"), new_reservation_path(subject: reservation.subject, recept: reservation.recept, reception_date: reservation.reception_date) %>
          </div>
        <% else %>
          <div class="col-lg-2 col-sm-2 col-4 col-xs-4">
            <%= image_tag("http://placehold.jp/18/ff0000/ffffff/150x75.png?text=#{reservation.recept}", :class => "thumbnail img-responsive") %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <% end %>
</div>