<h2 style="text-align:center">ウェブ質問教科選択</h2><br>
<div class="container">
  <div class="row">
    <div class="row">
          <div class="col-lg-3 col-sm-3 col-6">
            <%= link_to image_tag('english_reserve.png', :class => 'thumbnail img-responsive'), english_reserved_list_path %>
          </div>
          <div class="col-lg-3 col-sm-3 col-6">
            <%= link_to image_tag('mathematics_reserve.png', :class => 'thumbnail img-responsive'), mathematics_reserved_list_path %>
          </div>
          <div class="col-lg-3 col-sm-3 col-6">
            <%= link_to image_tag('japanese_reserve.png', :class => 'thumbnail img-responsive'), japanese_reserved_list_path %>
          </div>
          <div class="col-lg-3 col-sm-3 col-6">
            <%= link_to image_tag('kobun_reserve.png', :class => 'thumbnail img-responsive'), kobun_reserved_list_path %>
          </div>
    </div>
  </div>
</div>